<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Launch:</strong>
    <%= film.launch %>
  </p>

  <p>
    <strong>Cast:</strong>
    <%= film.cast %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= film.comment %>
  </p>

</div>
